{% extends 'base.html' %}

{% block header %}
<h1>Edit message</h1>
{% endblock %}

{% block content %}
  <form method="post" class="col-4">
    {{ form.csrf_token }}
    <div class="mb-3">
      {{ form.content.label(class="form-label") }}
      {% if form.content.errors %}
        {{ form.content(class="form-control is-invalid") }}
        {% for error in form.content.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% else %}
        {{ form.content(class="form-control") }}
      {% endif %}
    <div class="mb-3">
      <input class="btn btn-primary" type="submit" value="Update">
    </div>
  </form>
{% endblock %}