<div class="card mb-2">
  <div class="card-header d-flex">
    <h6 class="card-subtitle">
      by {{ message.sender.username }} on {{ message.send_at.strftime('%a %h %d %Y %H:%M') }}
    </h6>
    <div class="nav justify-content-end">
      {% if g.user %}
        {% if g.user in message.likes %}
          <form action="{{ url_for('messages.unlike', id=message.id) }}" method="POST">
            <button class="text-secondary btn btn-default"><i class="bi bi-hand-thumbs-up-fill"></i></button>
          </form>
        {% else %}
          <form action="{{ url_for('messages.like', id=message.id) }}" method="POST">
            <button class="text-primary btn btn-default"><i class="bi bi-hand-thumbs-up-fill"></i></button>
          </form>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="card-body">
    {% include 'messages/content.html' %}
  </div>
</div>