{% extends 'base.html' %}

{% block header %}
<h1>
  {% block title %}
    {% if g.user.admin %}
      Create new user account
    {% else %}
      Register
    {% endif %}
  {% endblock %}
</h1>
{% endblock %}

{% block content %}
  <form method="post" class="col-4">
    <div class="mb-3">
      <label for="username">Username</label>
      <input class="form-control" name="username" id="username" required>
    </div>
    <div class="mb-3">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" required>
    </div>
    {% if g.user.admin %}
    <div class="mb-3">
      <input class="form-check-input" type="checkbox" value="true" name="admin" id="admin">
      <label class="form-check-label" for="flexCheckDefault">
        is admin
      </label>
    </div>
    {% endif %}
    <div class="mb-3">
      <input class="btn btn-primary" type="submit" value="Register">
    </div>
  </form>
{% endblock %}