{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %}{{ thread.title }}{% endblock %}</h1>
  <h4>{{ thread.creator.username }}</h4>
  <ul>
    {% for message in thread.messages %}
      <li>
        {{ message.id }}: {{ message.send_at }} - {{ message.sender.username }}: {{ message.content }}
        {% if g.user and g.user.id == message.sender.id %}
          <a href="{{ url_for('messages.edit', id=message.id) }}"><i class="bi bi-pencil-fill"></i></a>

          <form action="{{ url_for('messages.delete', id=message.id) }}" method="post" style="display: inline;">
            <button class="text-danger btn btn-default"><i class="bi bi-trash-fill"></i></button>
          </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if g.user %}
      {% if g.user.is_admin or (g.user.id == thread.creator.id) %}
        <a href="{{ url_for('.edit', id=thread.id) }}" class="btn btn-primary">Edit</a>
        <form action="{{ url_for('.delete', id=thread.id) }}" method="post" style="display: inline;">
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      {% endif %}

    {% include 'messages/new.html' %}
  {% endif %}

{% endblock %}
