{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ thread.title }}{% endblock %}</h1>
  <h4>{{ thread.creator.username }}</h4>
  <ul>
    {% for messages in thread.messages %}
      <li>{{ messages.send_at }} - {{ messages.sender.username }}: {{ messages.content }}</li>
    {% endfor %}
  </ul>

  {% if g.user %}
    {% if g.user.is_admin or (g.user.id == thread.creator.id) %}
      <a href="{{ url_for('.edit', id=thread.id) }}" class="btn btn-primary">Edit</a>
      <form action="{{ url_for('.delete', id=thread.id) }}" method="post" style="display: inline;">
          <input class="btn btn-danger" type="submit" value="Delete">
      </form>
    {% endif %}
  {% endif %}

{% endblock %}
