{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %}{{ thread.title }}{% endblock %}</h1>
  <h4>{{ thread.creator.username }}</h4>
  <ul>
    {% for message in thread.messages %}
      <li>
        {% include 'messages/view.html' %}
      </li>
    {% endfor %}
  </ul>

  {% if g.user %}
      {% if g.user.is_admin or (g.user.id == thread.creator.id) %}
        <a href="{{ url_for('.edit', id=thread.id) }}" class="btn btn-primary">Edit</a>
        <form action="{{ url_for('.delete', id=thread.id) }}" method="post" style="display: inline;">
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      {% endif %}

    {% include 'messages/new.html' %}
  {% endif %}

{% endblock %}
