{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %}Channels{% endblock %}</h1>
  <ul>
    {% for channel in channels %}
      <li>
        <a href="{{ url_for('channels.view_channel', id=channel.id) }}">{{ channel.title }}</a>
        has {{ channel.threads | count }} threads and {{ message_counts[channel.id] }} messages.

        {% if message_counts[channel.id] > 0 %}
        Final message sent at {{ messages[channel.id] | map(attribute="send_at") | max }} messages.
        {% endif %}
        This channel was opened by {{ channel.creator.username }}.
      </li>
    {% endfor %}
  </ul>

  {% if g.user and g.user.is_admin %}
    <a href="{{ url_for('channels.new') }}" class="btn btn-primary">new</a>
  {% endif %}

{% endblock %}
