{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %}Channels{% endblock %}</h1>

  <div class="mb-5">
    <p>There are {{channels | count }} channels.</p>

  {% if g.user and g.user.is_admin %}
    <a href="{{ url_for('channels.new') }}" class="btn btn-primary">add channel</a>
  {% endif %}

  </div>

<div class="row row-cols-1 row-cols-md-2 g-4">
{% for channel in channels %}
<div class="col">
  <div class="card border-dark h-100">
    <div class="card-body">

      <h4 class="card-title">
        {{ channel.title }}
      </h4>
      <h6 class="card-subtitle">
        {% if channel.is_secret %}<span class="small badge text-white bg-danger">Secret</span>{% endif %}
        by {{ channel.creator.username }} on {{ channel.created_at.strftime('%a %h %d %Y %H:%M') }}
      </h6>
      <div class="card-text">
        <p>
          This channel has {{ channel.threads | count }} threads and {{ message_counts[channel.id] }} messages.
        </p>
        <p>
        {% if message_counts[channel.id] > 0 %}
            Final message was sent at {{ messages[channel.id] | map(attribute="send_at") | max | timeformat }}.
        {% endif %}
        </p>
        <p>
        {% set ratings=channel.ratings() %}
        {% if ratings['count'] > 0 %}
            Channel has {{ ratings['mean'] }} / 5.00 rating ({{ ratings['count'] }} users rated).
        {% endif %}
        </p>
      </div>
    </div>
    <div class="card-footer">
      <a href="{{ url_for('channels.view', id=channel.id) }}" class="btn btn-info">View</a>
    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
