{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %}{{ channel.title }}{% endblock %}</h1>

  {% if channel.description %}
  <p>{{ channel.description }}</p>
  {% endif %}

  <ul>
    {% for thread in channel.threads %}
      <li>
        <a href="{{ url_for('threads.view_thread', id=thread.id) }}">{{ thread.title }}</a>
          has {{ thread.messages | count }} messages
      </li>
    {% endfor %}
  </ul>

  {% if g.user %}
    <a href="{{ url_for('threads.new', channel_id=channel.id) }}" class="btn btn-primary">add thread</a>
    {% if g.user.is_admin %}
      <form action="{{ url_for('.delete', id=channel.id) }}" method="post" style="display: inline;">
          <input class="btn btn-danger" type="submit" value="Delete">
      </form>
    {% endif %}
  {% endif %}

{% endblock %}
