{% extends 'base.html' %}

{% block header %}
  <h1 class="d-flux">
    {% block title %}
      {{ channel.title }}
    {% endblock %}

  {% if g.user and g.user.is_admin %}
      <a href="{{ url_for('.edit', id=channel.id) }}" class="me-1 btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
      <a href="{{ url_for('.settings', id=channel.id) }}" class="me-1 btn btn-primary"><i class="bi bi-gear-fill"></i></a>
      <button type="button" data-bs-action="{{ url_for('channels.delete', id=channel.id) }}" data-bs-type="channel" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
  {% endif %}
</h1>
{% endblock %}

{% block content %}

<div class="mb-5">
  {% if channel.description %}
  <p>{{ channel.description }}</p>
  {% endif %}
  <a href="{{ url_for('threads.new', channel_id=channel.id) }}" class="me-5 btn btn-primary">add thread</a>

</div>


{% for thread in channel.threads %}
  <div class="card mb-2 border-dark">
    <div class="card-body">

      <h4 class="card-title">
        {{ thread.title }}
      </h4>
      <h6 class="card-subtitle">
        by {{ thread.creator.username }} on {{ thread.created_at.strftime('%a %h %d %Y %H:%M') }}
      </h6>

      <div class="card-text">
        <p>
          Thread has {{ thread.messages | count }} messages.
        </p>
        {% if thread.messages | length > 0 %}
          <p>
            Final message was sent at {{ thread.messages | map(attribute="send_at") | max | timeformat }}.
          </p>
        {% endif %}
      </dif>

      </div>
      <a href="{{ url_for('threads.view', id=thread.id) }}" class="btn btn-primary">View</a>
    </div>
  </div>
  {% endfor %}

{% endblock %}